#board{
  margin: auto;
  width: 600px;
  height: 800px;
  text-align: center;
  align-items: center;
}

#rotate{
  position: absolute;
  top: 50vh;
  left: 20vw;
}

.battleBoard{
  margin: 0px;
}
#C1{
  cursor: url(ships/Ship1.png),auto;
}

#C2{
  cursor: url(ships/Ship2.png),auto;
}

#C3{
  cursor: url(ships/Ship3.png),auto;
}

#C4{
  cursor: url(ships/Ship4.png),auto;
}

#C5{
  cursor: url(ships/Ship5.png),auto;
}

#yourBoard{
  position: absolute;
  top:12vh;
  left:10vw;
}

#enemyBoard{
  position: absolute;
  top:12vh;
  right:10vw;
}

#one, #two, #three, #four, #five{
  background-color: white;
}

#readyCheck{
  position: absolute;
  top:22vh;
  left:25vw;
  align-items: center;
}

#Check1{
  background-image: url('X.png');
}

#Check2{
  background-image: url('check.png');
}

#hiddenSprite{
  position: absolute;
  height: 0px;
  width: 0px;
}