.center{
    left:25%;
    right:25%;
}

.gradient{
    background: rgb(241,221,190);
    background: linear-gradient(90deg, rgba(241,221,190,1) 0%, rgba(255,255,255,0) 50%, rgba(241,221,190,1) 100%);
}

.hidden1{
    height: 157px;
    width: 259px;
    position:fixed;
    bottom:10px;
    left:25.8%;
    right:25%;
    z-index: 1;
    font-size: 0;
    border: none;
    background: none;
}

.hidden2{
    height: 157px;
    width: 259px;
    position:fixed;
    bottom:10px;
    left: 41.9%;
    right:25%;
    z-index: 1;
    font-size: 0;
    border: none;
    background: none;
}

.hidden3{
    height: 157px;
    width: 259px;
    position:fixed;
    bottom:10px;
    left: 58%;
    right:25%;
    z-index: 1;
    font-size: 0;
    border: none;
    background: none;
}


.log{
    background-color: white;
    border-color: black;
    border: solid;
    height: 25vh;
    width: 50vw;
    position: fixed;
    left:25%;
    right:25%;
    resize: 'vertical';
    overflow: auto;
    text-align: left;
    margin: auto;
}
.enemy{
    position: fixed;
    right:0%;
}

.curFighter{
    position: fixed;
    left: 0%;
}

.selector{
    top:20%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.infoBar{
    left: 25%;
    right: 25%;
    text-align: center;
}

.party{
    margin: auto;
    position:fixed;
    bottom:10px;
    left:25%;
    right:25%;
    z-index: 0;

}

.battleButton{
    text-align: center;
    position:fixed;
    bottom:50vh;
    left:25%;
    right:25%;
}

.start{
    text-align: center;
    position:fixed;
    top:20vh;
    left:25%;
    right:25%;
}

.shop{
    margin: auto;
    position:fixed;
    top:10px;
    left:25%;
    right:25%;

}
